@import  'https://rca.ent.sirsidynix.net.uk/client/css/vse/open.css'; /* SITEADDRESS is the actual URL to Enterprise. This copies in the default styles. */

/* Insert the image for the background in the parentheses */
body{
background: #ffffff;
}
/*************************** HEADER AREA ******************************/

/* Increase header height if using 125px or 150px - default is 135px - this now controls the position of the content */
.header {
height: 135px;
}

a, a:visited, a:active {
color: #000000; 
text-decoration: underline;
}
a:hover{
color: #0096ff; 
}
/* menu links color property: color */

.menuLink a, .menuLink a:visited, .menuLink a:active, .loginLink a, .menuActive a, #lpMainLink {
color: #000000;	
}
.menuLink a:hover, .loginLink a:hover, #lpMainLink {
color: #0096ff;	
}

.welcome {
 color: #000000;	
}
/* language option color property: color */

.lpdropdown a:visited, .lpdropdown a:active {
color: #000000;
}
.lpdropdown a:hover {
color: #0096ff;
}
.nytimes_listbar {
height: 30px;
width: 500px;
background: #002579;
border-radius: 0 0 0 0;
-moz-border-radius: 0 0 0 0;
-webkit-border-radius: 0 0 0 0;
-khtml-border-radius: 0 0 0 0;
position: relative;
}



/* ADA fix  - remove*/

.ada_link {
  display: none;
 }

#adaModeDiv {
  display: none;
}

#adaModeDiv + .pipeSeparator {
    display: none;
}


/************************** SEARCH BOX AREA **************************************/

/* reposition search wrapper - default is 100px - add 25 or 50 depending on background chosen */
#searchBoxWrapper {
background-color: #002579;
top: 100px;
border-radius: 0px

}

select, input
{
border: none;
background: none;

}

/* fix search bar in IE8
.extendedSearchBoxDiv #q {
width: 565px;
}
 */

/* switch the home image with a new one created in Photoshop 
*/
#searchBoxHomeLink img {
  visibility: hidden;
}

#searchBoxHomeLink a {
  background: url(https://library.rca.ac.uk/custom/web/content/home_chev.png) repeat-x top left;
  display: block;
  height: 32px;
  width: 32px;
}


/* Set color of search drop-down menus */

#searchBox .dropDown {
 background-color: #D5EDFD ;
 color: #000000 ;
 border-color: ;
 border-radius: 0px;
} 
#searchBox .dropDown:focus {
 background-color: ;
 color: #000000 ;
 border-color: ;
 border-radius: 0px;
}

/* Set color of search box */


#q {
background-color: #ffffff;
color: ;
border-color: #000000;
border-radius: 0px;
border: 0 0 0 0;
padding-bottom: 5px;

}

#q:focus {
background-color: #ffffff;
color: ;
border-color: #000000;
border-radius: 0px;
padding-bottom: 5px;
}



/* Advanced Search Link */

#searchBoxAdvancedLink a {
color: ;
}
#searchBoxAdvancedLink a:hover {
color: ;
}

/* Search Button */

#searchButton {
background-color: #0096ff;
color: #FFFFFF;
border-radius: 0px;
}

#searchButton:hover {
background-color: #D5EDFD;
color: #090909;
border-radius: 0px;
}


 
/* repositions the search suggestions drop-down, add enough pixels to fix if you increase the height of the search bar.

#dropDown {
	left: 496px !important;
	top: 30px !important;
}

#dropDown, x:-moz-any-link, x:default {
	left: 484px !important;
	top: 32px !important;
}
*/


/******************** CONTENT AREA ***************************************/

#content {
margin-top: ;
}

/********************** GENERAL BUTTONS **********************************/

.button {
 background-color: #0096ff;
 color: #FFFFFF;
 border-radius: 0px;
 font-weight: normal;
}

.button:hover {
 background-color: #D5EDFD;
 color: #090909;
 border-radius: 0px;
}
.loginButton {
 background-color: #D5EDFD;
 color: #090909;
 border-radius: 0px;
}

.loginButton:hover {
 background-color: #0096ff;
 color: #FFFFFF;
 border-radius: 0px;
}


.formatTypeIcon-BOOK {
    background-image: url(book.png);
}

.formatTypeIcon-VISUAL {
  background-image: url(dvd.png);
}

.formatTypeIcon-CR {
  background-image: url(magazine.png);
}

/*********************** FOOTER AREA ***************************************************/

#footer {
background-color: #002579;
color: ;
}

#copyright {
color: ;
}
/************************ CUSTOM STYLES and FIXES ***************************************/

/* Search display fixes */
.displayElementText.GEOGRAPHIC_TERM {
display: block;
}
.displayElementText.ADDED_AUTHOR {
display: block;
}
.displayElementText.ADDED_CORPORATE_AUTHOR {
display: block;
}
.displayElementText.ADDED_CONFERENCE_AUTHOR {
display: block;
}
.displayElementText.GENRE_TERM {
display: block;
}
.displayElementText.PERSONAL_SUBJECT {
display: block;
}
.displayElementText.GENERAL_NOTE {
display: block;
}
.displayElementText.ELECTRONIC_ACCESS > a {
display: block;
}
select {
    border:0;
    background-color: #ffffff;
    border:1px solid #000000;
    border-radius: 0px;
   
}

a[href^="mailto"] { color: #0096ff; text-decoration: none;}
a[href^="mailto"]:hover { text-decoration: underline;}

/* Facebook fix */
.fb_iframe_widget_lift {
overflow: visible !important;
left: -450px !important;
margin-right: 100px !important;
}

/****************** HOLDS FIX ************************/

.noback { 
min-width: 100%;
}

/**************** Hide Register Link ****************/

#registration_link {display: none;}

/***********************Login Box Borders*******************/
.user_name_input{
	border:solid;
}
.password_input{
	border:solid;
}
/*******Hide Renew Button during COVID-19*********/

.checkoutsButtons {
	display:none;
}

/*******Hide Location although it is needed for shelfmap*****/

.detailItemsTable_LOCATION {
	display:none;
}
.detailItemsTable_LOCATION {
	display:none;
}

/*******Make Elctronic Access Link more visible*****/

.displayElementWrapper .displayElementLabel.ELECTRONIC_ACCESS+a {font-size: 14px; font-weight: 700;}
.displayElementWrapper .displayElementLabel.ELECTRONIC_ACCESS+a {font-size: 14px; font-weight: 700;}
